 body{
    background-color: paleturquoise;
    background-size: cover;
    background-repeat: no-repeat;
    }
    footer{
    display: grid;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    background-color: antiquewhite;
    color: black;
    justify-content: center;
    }
    
.heading-box:hover {
  box-shadow: 0 0 20px papayawhip, 0 0 30px papayawhip;
  transform: scale(1.05);
}
.first:hover{
    box-shadow: 0 0 20px skyblue, 0 0 30px skyblue;
    transform: scale(1.05);
}
.second:hover{
    box-shadow: 0 0 20px gray, 0 0 30px gray;
    transform: scale(1.05);
}
.third:hover{
    box-shadow: 0 0 20px brown, 0 0 30px brown;
    transform: scale(1.05);
}
header{
    display: grid;
    padding: 12px;
    width: 80%;
    margin-left: 200px;
}
@media only screen and (max-width:767px){
    .first{
        display: grid;
        grid-template-columns: 1fr;
    }
    .second{
        display: grid;
        grid-template-columns: 1fr;
    }
    .third{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 768px){
    .first{
        display: grid;
        grid-template-columns: 5fr 2fr;
    }
    .second{
        display: grid;
        grid-template-columns: 5fr 2fr;
    }
    .third{
        display: grid;
        grid-template-columns: 5fr 2fr;
    }
}